/* Reset CSS */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Media Queries pour le côté responsive */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {
    nav ul li {
        margin-right: 0;
    }
}

body {
    color: #fff;
    background-color: #000000;
}
#main {
    background-image: url(/img/DEV24-01-resize-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
h2 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.connex {
    gap: 5em;
    
}
main {
    background-image: url(https://img.freepik.com/photos-gratuite/peinture-lac-montagne-montagne-arriere-plan_188544-9126.jpg?w=996&t=st=1713949604~exp=1713950204~hmac=1b647290129b4f72d9c5aab435ab1751c19f38cb4fc6cbc8862cf6dc3dcefc12);
    background-repeat: no-repeat;
    background-size: cover;
}