*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
   
}



/*start header */

.pin-k {
    background-color:#ff6d6d ;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background: ;
    justify-content: space-around;
    position: relative;
   

    
}

.video1 {
    position: absolute;
  width: 100%;
  height: 500px;
    z-index: -1;
 
}

.video1 video {
    width: 100%;
   
}







nav ul {
    display: flex;
   
    color: white;
}

.logo {
    color: white;
   position: absolute;
   top: 100px;
   left: 400px;
   font-size: 4rem;
  
}

.logo p {
    height: 100px;
}

.logo p:hover {

    transform: scale(1.2);
}

.icon1 {

    position: absolute;
  right: 400px;
  top: 100px;
  gap: 20px;
}

.icon1 a {
   color: white;
   font-size: x-large;
text-decoration: none;
  
}

.icon1 ul {
    list-style: none;
}

.icon1 li {
    margin-left: 20px;
}

.icon1 li:hover {
    text-decoration: underline;
}

.logo a {
    color: white;
    text-decoration: none;
}

/*end header*/





















