@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}



/*start header */

.pin-k {
    background-color:#ff6d6d ;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: "Poppins" , sans-serif;
}

nav ul {
    display: flex;
   
  
}

nav {

    justify-content: space-around;
    position: relative;
   

    
}


.logo img {
    position: absolute;
    left: 40px;
    width: 300px;  
    
}
.logo img:hover {
    transform: scale(1.2);
}
.logo2 img {
    margin: 20% 35%;
    width: 30%;

}
.icon1 {
    font-family: "Poppins" , sans-serif;
    position: absolute;
  right: 400px;
  top: 100px;
  gap: 20px;
 
}

.icon1 a {
   color: black;
   font-size: x-large;
text-decoration: none;
  
}

.icon1 ul {
    list-style: none;
}

.icon1 li {
    margin-left: 20px;
}

.icon1 li:hover {
    text-decoration: underline;
}
.logo a {
    color: black;
    text-decoration: none;
}

/*end header*/

/*start main */

.cnx {
    position: absolute;
    bottom: 0;
    left: 45%;
    top: 30%;
    font-family: "Poppins" , sans-serif;
}

.cnx1 {
    position: absolute;
    bottom: 0;
    left: 40%;
    top: 40%;
    font-family: "Poppins" , sans-serif;
}

.cnx2 {
    position: absolute;
    bottom: 0;
    left: 40%;
    top: 50%;
    font-family: "Poppins" , sans-serif;
}

.cnx3 {
    position: absolute;
    bottom: 0;
    left: 45%;
    top: 60%;
    font-family: "Poppins" , sans-serif;
}

.cnx3 button {
    width: 200px;
    height: 35px;
    border:black;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-family: "Poppins" , sans-serif;
}

input {
    border: none;
    outline: none;

}

.barre {
    position: absolute;
    bottom: 0;
    left: 40%;
    top: 45%;
    background-color: black;
    width: 300px;
    height: 2px;
    border: black 2px;
}

.barre1 {
    position: absolute;
    bottom: 0;
    left: 40%;
    top: 55%;
    background-color: black;
    width: 300px;
    height: 2px;
    border: black 2px;
}

.cnx4 {
    position: absolute;
    bottom: 0;
    left: 40%;
    top: 70%;
    font-family: "Poppins" , sans-serif;
}

.cnx4:hover {
    text-decoration: underline;
    font-family: "Poppins" , sans-serif;
}

/*End main */







